<nz-layout>
  <!-- <app-header></app-header> -->
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="จัดการผู้ใช้งาน">
          <ul>
            <li nz-menu-item routerLink="/users/main" routerLinkActive="ant-menu-item-selected">ผู้ใช้งานในระบบ</li>
            <li nz-menu-item routerLink="/users/report" routerLinkActive="ant-menu-item-selected">ระบบรายงาน</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
      <!-- Footer -->
      <app-footer></app-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>